Salon Booking.json
{
  "name": "Salon Booking",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "id": "bc908d07-2e53-447a-8ee5-525fd0f679be",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [1568, 800],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "kNGsJx3WivzISRge",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c8fbdff7-9cb4-426e-97bc-5c4f0f22fe70",
      "name": "Auto-fixing Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "position": [1856, 800],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "id": "0d5c4abe-d5b6-4f21-a417-b0cf8eeb4050",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [1840, 1008],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "kNGsJx3WivzISRge",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"is_pass_next\": \"boolean\",\n\t\"message\": \"string\"\n}"
      },
      "id": "b74d7871-a069-4eb8-ae37-acb8202fa2a1",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [2000, 1008],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b27f50ed-f26d-4310-b049-f0b38ca069f6",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.output.is_pass_next }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Booking"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ca6f2ea1-9dd1-4e77-9935-c3dbeb872ee4",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.output.is_pass_next }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Feedback"
            }
          ]
        },
        "options": {}
      },
      "id": "78c72828-8122-493c-975a-1484558b757f",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [2224, 576],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34357e62-87db-4d9c-a4ac-b8008c944821",
              "name": "user_data",
              "type": "string",
              "value": "={{$('Switch').item.json.output.message}}"
            }
          ]
        },
        "options": {}
      },
      "id": "998fdb13-017b-4b89-843b-db2ce2090f8c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [2672, 480],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "anuj@sapahk.ai",
          "cachedResultName": "anuj@sapahk.ai"
        },
        "start": "={{ $json.output.calendar_event.start_time }}",
        "end": "={{ $json.output.calendar_event.end_time }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": ["={{ $json.output.email.to }}"],
          "color": "7",
          "summary": "={{ $json.output.email.description }}"
        }
      },
      "id": "3d9c6eb0-40db-4807-9802-50c4a0343764",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [3248, 384],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RpjVVy4OeGDqNdUV",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Booking Agent for Glow & Grace Salon – Where Beauty Meets Elegance.\n\nYour job is to take finalized booking details from the Salon Agent, and:\n\nGenerate a Google Calendar event object with proper start and end time.\n\nInput from Restaurant Agent:  {{ $('Edit Fields').item.json['user_data'] }}\n\nGenerate a confirmation email with:\n\nRecipient email address\n\nEmail subject line\n\nA professional and beautifully formatted HTML body\n\n✅ Your OUTPUT must be in this structure:\n\n{\n  \"calendar_event\": {\n    \"start_time\": \"2025-06-05T10:00:00\",\n    \"end_time\": \"2025-06-05T11:30:00\",\n    \"name\": \"Olivia Brown\"\n  },\n  \"email\": {\n    \"to\": \"olivia.brown@example.com\",\n    \"subject\": \"Your Glow & Grace Salon Appointment Confirmation 💇‍♀️✨\",\n    \"html_body\": \"<html>... (full email HTML below) ...</html>\", \n    \"description\": \"Salon appointment with Olivia\"\n  }\n}\n\n\nEXAMPLE: \n<html>\n  <body style=\"font-family: Arial, sans-serif; color: #333; background-color: #fafafa; padding: 20px;\">\n    <h2 style=\"color: #C71585;\">💇‍♀️ Glow & Grace Salon – Appointment Confirmed</h2>\n    <p>Dear Olivia Brown,</p>\n    <p>We’re delighted to confirm your salon appointment with us! Here are your booking details:</p>\n    <table style=\"margin-top: 15px; border-collapse: collapse;\">\n      <tr>\n        <td><strong>Date:</strong></td>\n        <td>June 5, 2025</td>\n      </tr>\n      <tr>\n        <td><strong>Time:</strong></td>\n        <td>10:00 AM – 11:30 AM</td>\n      </tr>\n      <tr>\n        <td><strong>Services:</strong></td>\n        <td>Haircut + Blowout</td>\n      </tr>\n      <tr>\n        <td><strong>Stylist:</strong></td>\n        <td>Sophia (Master Stylist)</td>\n      </tr>\n      <tr>\n        <td><strong>Location:</strong></td>\n        <td>Glow & Grace Salon, 21 Beauty Lane, Glamour City</td>\n      </tr>\n    </table>\n    <p style=\"margin-top: 15px;\">📝 <strong>Special Notes:</strong> Requested volume styling for an evening event.</p>\n    <p>We look forward to pampering you and making you glow with confidence! ✨</p>\n    <p style=\"margin-top: 25px;\">Warm regards,<br/>The Glow & Grace Team</p>\n    <hr style=\"margin-top: 30px;\">\n    <p style=\"font-size: 12px;\">Questions? Contact us at <a href='mailto:appointments@glowandgrace.com'>appointments@glowandgrace.com</a> or call (555) 123-9876</p>\n  </body>\n</html>\n\n\n\n🧠 Behavior Notes:\n\nDefault service durations (unless specified):\n\nHaircut: 1 hour\n\nHair Color: 2 hours\n\nBlowout/Styling: 1 hour\n\nManicure/Pedicure: 1.5 hours\n\nFacial: 1 hour\n\nMassage: 1.5 hours\n\nIf multiple services are booked, add up durations in order.\n\nIf the user specifies a custom duration, honor that.\n\nFormat start and end time in ISO 8601 (RFC3339).\n\nTime zone is assumed to be the Salon’s local time: {{ $now }}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "e6a7e569-9e78-4d8b-b9a5-20a530da7d9a",
      "name": "Booking Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [2896, 480],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "id": "7971d432-b27d-4747-877e-3b5ad945a937",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [2880, 704],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "kNGsJx3WivzISRge",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"calendar_event\": {\n    \"start_time\": \"2025-05-10T14:00:00\",\n    \"end_time\": \"2025-05-10T17:00:00\",\n    \"name\": \"Sarah Johnson\"\n  },\n  \"email\": {\n    \"to\": \"sarah@example.com\",\n    \"subject\": \"Your Relaxing SPA Booking Confirmation – Rejuvenate & Revive Package\",\n    \"html_body\": \"<html>... (full email HTML below) ...</html>\",\n    \"description\": \"Booking with Sarah\"\n  }\n}\n"
      },
      "id": "b5c59467-3e44-435f-a542-5a834e5f576e",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [3040, 704],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.message }}",
        "contextWindowLength": 15
      },
      "id": "a7987e7e-cb39-41ab-84e5-eec23ae3f786",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [1728, 800],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sendTo": "={{ $json.output.email.to }}",
        "subject": "={{ $json.output.email.subject }}",
        "message": "={{ $json.output.email.html_body }}",
        "options": {}
      },
      "id": "0bc63404-0a51-4bd2-88e8-55ed55c1cecb",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [3248, 576],
      "webhookId": "c1388946-d239-4325-abde-1a9ae909797b",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "NwoSfU2tw73tGKNq",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the Salon Reservation Agent for Glow & Grace Salon – Premium Hair & Beauty Services.\n\nYour role is to assist users in booking a salon appointment, starting with gathering their information, confirming the booking, and ensuring it’s added to the calendar and an email is sent.\n\nUser Input: {{ $json.message }}\n\nTone and Behavior\n\nWarm, polite, and professional — like a friendly salon receptionist.\n\nMake the client feel cared for and pampered.\n\nAlways move step by step — never jump ahead.\n\nNever suggest random services or times — always confirm with the user.\n\nFLOW STRUCTURE:\n\n1. FIRST INTERACTION (Warm Greeting)\nAlways start with a polite opening and ask how you can help.\n\n{\n  \"is_pass_next\": false,\n  \"message\": \"Welcome to Glow & Grace Salon Your beauty, our passion. How may I assist you today? Would you like to book an appointment?\"\n}\n\n\n2. APPOINTMENT DETAILS (Step by Step Questions)\n\nAsk one question at a time in sequence:\n\nService Type (Haircut, Hair Spa, Facial, Manicure, Pedicure, Makeup, etc.)\n\nPreferred Stylist/Therapist (if any)\n\nPreferred Date & Time\n\nSpecial Requests (bridal prep, event styling, sensitive skin, etc.)\n\nExample response if still collecting info:\n\n{\n  \"is_pass_next\": false,\n  \"message\": \"Got it! Which service would you like to book — for example haircut, facial, manicure, or something else?\"\n}\n\n\n3. PRE-CONFIRMATION: Reservation Draft\nOnce enough details are gathered, propose a draft for review.\n\n{\n  \"is_pass_next\": false,\n  \"message\": \"Here’s your appointment draft 💆‍♀️:\\n\\n🗓 Date & Time: [Insert Date & Time]\\n💇‍♀️ Service: [Service Type]\\n✨ Preferred Stylist: [If any]\\n🎀 Special Notes: [If any]\\n📍 Location: Glow & Grace Salon, 21 Beauty Avenue, Style City\\n\\nShall we finalize this?\"\n}\n\n\n4. GATHER PERSONAL DETAILS (After Confirmation)\nOnly after the user confirms the reservation draft, ask for full name, email, and phone number.\n\n{\n  \"is_pass_next\": false,\n  \"message\": \"Perfect! To complete your reservation, may I have your full name, email, and an optional contact number?\"\n}\n\n\n5. FINAL CONFIRMATION & PASS TO SYSTEM\nOnce user provides details, finalize booking and pass it to system:\n\n{\n  \"is_pass_next\": true,\n  \"message\": {\n    \"customer_name\": \"[Name]\",\n    \"email\": \"[Email]\",\n    \"phone\": \"[Phone Number]\",\n    \"appointment_date\": \"[YYYY-MM-DD]\",\n    \"appointment_time\": \"[Time]\",\n    \"service_type\": \"[Haircut/Facial/etc.]\",\n    \"preferred_stylist\": \"[If any]\",\n    \"special_notes\": \"[Any notes from user]\"\n  }\n}\n\n\nTime zone is assumed to be the Salon's local time : {{ $now }}"
        }
      },
      "id": "c493c29f-c237-4fe5-a925-d67cd55fd00f",
      "name": "Information Gathering Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1664, 576],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1306a6cb-608a-471a-a84b-f07f981c67da",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ae393cac-abb4-4c21-960f-4b62bae00c0c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [1376, 576],
      "webhookId": "1306a6cb-608a-471a-a84b-f07f981c67da",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Information Gathering Agent').item.json.output.message }}",
        "options": {}
      },
      "id": "6b46ac46-35c6-498c-9bf7-f6d389b71b7a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [2448, 672],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Thank you for your confirmation! We have noted down your information. You will be getting confirmation mail soon. ",
        "options": {}
      },
      "id": "c41f6fe8-f96d-4083-93d2-6f9180b024bb",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [2448, 480],
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Information Gathering Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Booking Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Agent": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Information Gathering Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Gathering Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Booking Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Information Gathering Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Booking Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Information Gathering Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d4ea68d-74d4-43ca-a18c-906ee8c6011b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8602a2877aad0da393b7e3915bb82d156761f0aa04481727401b02c52216453"
  },
  "id": "rhTvbXd2foiwFsa8",
  "tags": []
}
